{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
<style>
  .item { padding: 10px; border-bottom:1px solid #EEEEEE; height: 25px }
  .heading { font-weight: bold; font-size: 14px; color: #666666;  }
</style>
{% endblock %}


{% block after_field_sets %}{{ block.super }}

<div class="module aligned">
  <div class="item">Post: {{ original.title }}</div>
</div>

<div class="module aligned">
 <div class="item heading">Post Categories</div>
  {% for category in original.postcategory_set.all %}
  <div class="item">
    <span class="item_name">{{ name }}</span>
    <span class="item_edit"><a href="{% url admin:flowershop_orderitem_change item.id %}" target="_blank">Edit</a></span>
  </div>
  {% empty %}
  <div class="item">No Categories</div>
  {% endfor %}
</div>

{% endblock %}
